@import url("./default.css");

/*Section one*/
.container-one{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    background-color: var(--morado-opacidad);
    z-index: 1;
}

.container-one video{
    float: left;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border: none;
    z-index: -1;
}

.container-one figure{
    float: right;
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 1;
}

.container-one figure img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 420px;
}

.background{
    position: absolute;
    bottom: 20px;
    right: 12%;
    background-color: var(--gris-claro);
    width: 280px;
    height: 420px;
    z-index: -1;
    border-radius: 20px;
    border: none;
}

.container-one article{
    position: absolute;
    width: 500px;
    height: 300px;
    left: 30%;
    font-size: 1.2em;
    color: var(--blanco);
    z-index: 2;
}

.container-one article h1{
    font-size: 1.8em;
    margin-bottom: 8px;
}

.container-one article p{
    margin-bottom: 20px;
}

.button{
    background-color: var(--blanco);
    border: none;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    box-shadow: inset 3px 4px 10px var(--gris-sombra);
    cursor: pointer;
    color: var(--morado);
    font-size: 1.4em;
    font-weight: 500;
}

.button:hover{
    width: 260px;
    height: 90px;
}

/*Section two*/

.container-two{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 87%;
    right: 15%;
    background-color: var(--gris-claro);
    width: 900px;
    height: 100px;
    border: none;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 3px 4px 10px var(--gris-sombra);
}

.container-two article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--morado);
} 

.container-two article i{
    font-size: 30px;
    margin-bottom: 5px;
}