@import url("./default.css");

.header{
    background-color: var(--blanco);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}

.header img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.nav a{
    text-decoration: none;
    color: var(--negro);
    margin-left: 20px;
    font-weight: 500;
}

.nav a:hover{
    border-bottom: 2px solid var(--morado);
    color: var(--morado);
}

.nav a:active{
    color: var(--gris);
}

.icons i{
    margin-left: 5px;
    color: var(--morado);
    font-weight: 800;
}